.Rproj.user
.Rhistory
.RData
.Ruserdata
ProfessionalDocs.Rproj
Transcrips_NehemiasUlloa.pdf
CoverLetter-concordance.tex
CoverLetter.log
CoverLetter.pdf
CoverLetter.synctex.gz
CoverLetter.tex
Resume_NU.log
Resume_NU.synctex.gz
Resume_Nehemias_Ulloa.log
Resume_Nehemias_Ulloa.synctex.gz
USDA_Resume_Nehemias_Ulloa.log
USDA_Resume_Nehemias_Ulloa.synctex.gz
KCCD_Resume_Nehemias_Ulloa.log
KCCD_Resume_Nehemias_Ulloa.synctex.gz
References.log
References.synctex.gz
